<!-- <div class="row mt-3 justify-content-center">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      
      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Previous" aria-disabled="true" tabindex="-1">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>

      
      <li class="page-item active">
        <a class="page-link" href="#" routerLink="/fakestore" routerLinkActive="active">1</a>
      </li>

      
      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Next" aria-disabled="true" tabindex="-1">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
-->